body {
    margin: 0;
}
a {
    all: unset;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.link-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30%;
}
.list-item {
    flex: 25%;
}
#canvas {
    height: 100vh;
}